*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;    
    background-color: rgb(255, 255, 255);
}

.guest-form {
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 50px;
    padding: 20px;    
    background-color: rgb(126, 171, 223);
    border-radius: 10px;
}

.guest-form .guest-details {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;       
}
label {
    display: flex;    
    align-items: left;
    flex-direction: column;
    margin: 0.2rem;
    padding: 5px; 
    width: 100%;   
}
input {
    outline: none;
    font-size: 18px;
    border: none;
    padding: 5px;
}